block vars
  - var head = {}
  - var current = 'main'
  - var pageTitle = 'Jade, Stylus, ES6 & Webpack.'

doctype html
html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    title= pageTitle
  
  body
    include ../header/header
    block content
    include ../footer/footer
